TESTRAIL_URL=
TESTRAIL_EMAIL=
TESTRAIL_API_KEY=
TESTRAIL_SECTION_ID=

REQUIRE_MANUAL_APPROVAL=yes
USE_ALL_CASES_IN_SECTION=yes
CREATE_IN_TESTRAIL=yes
PRIORITY_ANALYZER_MODE=yes

JIRA_BASE_URL=
JIRA_USER_EMAIL=
JIRA_API_TOKEN=